body {
  color: white;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(32, 0, 0, 1) 60%,
    rgba(0, 0, 0, 1) 100%
  );
}

.todo {
  background-color: whitesmoke;
  width: 200px;
  height: 120px;
  max-height: 200px;
  border-radius: 50px;
  padding: 5px 5px 5px 5px;
  margin: 10px;
}
.todo-item {
  color: rgb(58, 17, 17);
  width: 150px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: whitesmoke;
  border-radius: 10px;
  margin: 20px;
  /*    max-width:100px;
    max-height:30px;
    padding: 10px 10px 10px 10px;*/
}
.todo-list {
  list-style: none;
  float: left;
  display: inline;
}

.completed-btn {
  background-image: url("icons/green_btn.png");
  padding: 10px 10px 19px 20px;
  border-style: hidden;
  border-radius: 10px;
  height: 25px;
  width: 25px;
  margin-left: 15px;
  margin-right: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.edit-btn {
  background-image: url("icons/edit.png");
  background-color: black;
  border-radius: 10px;
  padding: 10px 10px 20px 20px;
  border-style: hidden;
  height: 18px;
  width: 18px;
  margin-left: 15px;
  margin-right: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.trash-btn {
  background-image: url("icons/delete_red.png");
  padding: 10px 10px 20px 20px;
  border-radius: 10px;
  border-style: hidden;
  height: 20px;
  width: 20px;
  margin-left: 15px;
  margin-right: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.icon {
  display: block;
  width: 100%;
  height: auto;
}
.movie-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
}
.hidden-modal {
  display: none;
}
.modal-content {
  color: black;
  margin: 5% 5%;
  padding: 20px;
  width: 70%;
  box-shadow: 8px 4px rgba(0, 0, 0, 0.2);
}
.modalBtn {
  margin: 10px;
}
.close-btn-container {
  width: 5%;
  float: right;
}

.close-btn {
  position: absolute;
  font-size: 30px;
  transition-duration: 0.4s;
}

.close-btn:hover {
  cursor: pointer;
  color: tomato;
  font-weight: bold;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.15);
}

.img-center {
  display: block;
  margin: 0 auto;
  width: 30%;
}
.text-center {
  text-align: center;
}
.save-movie-btn {
  background-color: blue;
  border-radius: 10px;
  margin: 10px;
  justify-content: center;
  color: whitesmoke;
  width: 80px !important;
  height: 50px !important;
  display: flex;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}
.remove-movie-btn {
  background-color: red;
  border-radius: 10px;
  margin: 10px;
  justify-content: center;
  color: whitesmoke;
  width: 80px !important;
  height: 50px !important;
  display: flex;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}
.savedmovies {
  list-style-type: none;
  display: block;
  text-align: center;
  font-size: 15px;
  margin: 30px;
}
.saved-movie-poster {
  max-height: 50% !important;
  max-width: 30% !important;
}
.movie-recommendations {
  text-align: center;
  font-size: 20px;
  margin-top: 40px;
}

.movieList-item {
  list-style-type: none;
}
