body {
  color: whitesmoke;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(32, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}

#logo {
  max-width: 400px;
  margin: 10px;
  padding: 0px 50px 0px 0px;
}
#searchBar {
  display: inline;
  margin-bottom: 5px;
  max-width: 250px;
  border-radius: 10px;
  float: right;
  margin-top: 10px;
}
#searchBtn {
  position: relative;
  display: inline;
  border-radius: 10px;
  float: right;
  max-width: 70px;
  margin-top: 10px;
}
.logo-container {
  float: left;
  margin-bottom: 20px;
}
.todo {
  background-color: whitesmoke;
  width: 210px;
  height: 90px;
  max-height: 200px;
  border-radius: 40px;
  padding: 5px 5px 5px 5px;
  margin: 10px;
  display: inline-flexbox;
  float: left;
}
.todo-item {
  color: rgb(58, 17, 17);
  width: 150px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 90%;
  background-color: whitesmoke;
  border-radius: 10px;
  margin: 10px;
}
.todo-list {
  list-style: none;
  float: left;
  margin: 10px;
  padding: 10px;
  display: inline;
}
.todo-input {
  display: inline;
  float: left;
  border-radius: 10px;
  border: 10px;
  height: 38px;
  margin-top: 10px;
  text-indent: 10px;
}
.add-todo-btn {
  display: inline;
  float: left;
  text-align: center;
  border-radius: 10px;
  height: 38px;
  margin-top: 10px;
}

.completed-btn {
  background-image: url("icons/green_btn.png");
  padding: 10px 10px 19px 20px;
  border-style: hidden;
  border-radius: 10px;
  height: 25px;
  width: 25px;
  margin-left: 15px;
  margin-right: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.edit-btn {
  background-image: url("icons/edit.png");
  background-color: black;
  border-radius: 10px;
  padding: 10px 10px 20px 20px;
  border-style: hidden;
  height: 18px;
  width: 18px;
  margin-left: 15px;
  margin-right: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.trash-btn {
  background-image: url("icons/delete_red.png");
  padding: 10px 10px 20px 20px;
  border-radius: 10px;
  border-style: hidden;
  height: 20px;
  width: 20px;
  margin-left: 15px;
  margin-right: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.icon {
  display: block;
  width: 100%;
  height: auto;
}
.movie-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
}
.hidden-modal {
  display: none;
}
.modal-content {
  color: whitesmoke;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(32, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  margin: 5% 10%;
  padding: 20px;
  width: 80%;
  box-shadow: 8px 4px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  border-width: 1px;
  border-color: rgb(82, 82, 82);
}
.modalBtn {
  color: whitesmoke;
  background-color: rgb(61, 1, 1);
  border-style: solid;
  border-width: medium;
  border-color: rgb(43, 42, 42);
  border-radius: 20px;
  font-size: medium;
  display: flexbox;
  float: center;
  height: 50px;
  max-height: auto;
  max-width: auto;
  margin-top: 10px;
}
.btnDiv {
  width: 100%;
  margin-bottom: 20px;
}

.modalBtnSearch {
  color: whitesmoke;
  background-color: rgb(61, 1, 1);
  border-style: solid;
  border-width: medium;
  border-color: rgb(43, 42, 42);
  border-radius: 20px;
  font-size: large;
  display: flexbox;
  float: center;
  margin-left: 10px;
}
.close-btn-container {
  width: 5%;
  float: right;
}

.close-btn {
  position: absolute;
  font-size: 30px;
  transition-duration: 0.4s;
}

.close-btn:hover {
  cursor: pointer;
  color: tomato;
  font-weight: bold;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.15);
}

.img-center {
  display: block;
  margin: 0 auto;
  width: 30%;
}
.text-center {
  text-align: center;
}
.save-movie-btn {
  background-image: url("icons/eye.png");
  background-color: rgb(36, 0, 0);
  border-radius: 10px;
  margin: 10px;
  justify-content: center;
  color: rgb(8, 79, 107);
  width: 70px !important;
  height: 40px !important;
  display: flex;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.remove-movie-btn {
  background-image: url("icons/delete.png");
  background-color: rgb(61, 0, 0);
  border-radius: 10px;
  margin: 10px;
  justify-content: center;
  color: whitesmoke;
  width: 80px !important;
  height: 50px !important;
  display: flex;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.savedmovies {
  text-align: center;
  font-size: x-large;
  padding-top: 65px;
  margin-top: 80px;
}

.saved-movie-poster {
  height: 50%;
  width: 250px;
  max-width: 100%;
  border-radius: 30px;
}
.saved-moviesList-item {
  list-style-type: none;
  display: inline-flexbox;
  float: center;
  align-content: flex;
  flex-wrap: wrap;
  text-align: center;
  font-size: 15px;
  margin: 20px;
  max-width: 1600px;
  background-color: rgba(116, 116, 116, 0.04);
  border-radius: 20px;
  padding: 10px;
}

.movieList-item {
  list-style-type: none;
  margin: 30px;
  padding-top: 60px;
  float: center;
  display: flexbox;
  align-content: flex-start;
}
.movieDiv {
  margin: 10px;
  display: flexbox;
  padding: 50px;
  max-width: 900px;
}
